@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans Thai", sans-serif;
    text-decoration: none;
    background-color: rgb(233, 243, 247);
 }

body {
    padding: 5%;
    padding-left: 18%;
    padding-right: 27%;
    display: grid;
    background-color: rgb(164, 194, 220);
}

main{ 
    width: 120%;
    padding: 20px;
    border-radius: 30px;
    border: 5px solid white;
    backdrop-filter: blur(25px);
    position: relative; 
}

h2 {
    font-size: 38px;
    text-align: center;
    margin-bottom: 25px;
}

h4 {
    font-weight: 400;
}

.form_wrapper {
    font-size: 20px;
}

input[type="text"], input[type="date"], input[type="radio"] {
    padding: 4px;
    margin: 5px;
    border: 2px solid rgb(0, 0, 0);
    width: 23%;
    border-radius: 25px;
    outline: none;
    background-color: white;
    color: rgb(0, 0, 0);
}

hr {
    height: 1px;
    color: #000000;
    background: #000000;
    font-size: 0;
    border: 0;
}

div {
    margin-top: 25px;
}

button[type="submit"] {
    align-items: center;
    background-color: #4e94df;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 12px 20px;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: block;
    margin: 18px auto;
}

button[type="submit"]:hover {
    background-color: #4183ca;
    transform: scale(1.05); 
}

button[type="submit"]:active {
    background-color: #004080;
}

button[type="submit"]:focus {
    outline: none;
    box-shadow: 0 0 5px #007bff80;
}

.main-form, .result {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    border-radius: 30px;
    border: 5px solid white;
    background-color: #e9f3f7;
    box-shadow: 0 0 10px #0000001a;
    font-size: 1.2em;
}

.field {
    margin-bottom: 15px;
}

.field label {
    display: block;
}